langchain
langchain-community
langchain-openai
langchain-google-genai
langgraph
python-dotenv
openai
bs4
tiktoken
chromadb
langchain-chroma
llm-adaptive-router
langchain-anthropic
psycopg2-binary
pythreads==0.2.1
python-twitter-v2==0.9.2
python-multipart
markdown
colorama
requests
jinja2
aiofiles
mistune
lxml_html_clean
websockets
unstructured
json_repair
json5
loguru
pydantic
pydantic-settings
redis
uvicorn
fastapi
httpx
